@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.container {
  display: flex;
  margin: auto;
  gap:4rem;
  height: 65vh;
  width: 80%;
  background-color: #fdfdfd;
}

.me {
  margin-right: 2rem;
  margin-left: 2rem;
  justify-content: flex-end;
  height: 50vh;
}

.description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}

.resume-link {
  text-decoration: underline;
  color: #776b5d;
  font-weight: 500;
  font-size: 18px;
}

.resume-link::after {
  content: " \2192";
  display: inline-block;
  transform: rotate(-45deg);
}
