* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding-bottom: 2rem;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.profile-picture {
  margin-left: 14rem;
  padding-right: 2rem;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  object-fit: cover;
}

.description {
  font-size: 18px;
  line-height: 1.5;
}

.resume-link {
  text-decoration: underline;
  color: black;
  font-weight: 300;
}

.resume-link::after {
  content: " \2192";
  display: inline-block;
  transform: rotate(-45deg);
}