/* Default formatting for all page */

* {
  box-sizing: border-box;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 18px;
  color: #888;
  padding-top: 1rem;
}

@keyframes example {
  from {
    background-color: coral;
  }
  to {
    background-color: bisque;
  }
}

.animation-text {
  width: 100px;
  height: 100px;
  background-color: lavender;
  animation-name: example;
  animation-duration: 4s;
}

/* Scroll effect */
.field {
  position: absolute;
  margin-top: 30rem;
  align-items: center;
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #333;
  border-radius: 60px;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/*Project overview styling */
#projects-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.project-indicator {
  margin-right: 2rem;
  font-size: 22px;
  color: #333;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 4rem;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 25vh;
  color: black;
  text-decoration: none;
  margin: 0rem 2rem 0rem 2rem;
  transition: background-color 0.3s ease;
}

.project-row:hover {
  background-color: rgb(234, 234, 234);
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.project-description {
  font-size: 14px;
  color: #666;
}

.arrow {
  margin-right: 2rem;
}
