@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,300;1,6..12,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* Hero section */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.hero-content {
  text-align: center;
}

.hero-subtitle {
  font-size: 60px;
  font-family: "Poiret One", sans-serif;
  color: #444;
}

.strike-text {
  font-family: "Poiret One", sans-serif;
}

.italic-word {
  color: sienna;
  font-family: "Playpen Sans", cursive;
}

.work-list{
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  font-family: "Playpen Sans";
  text-align:center;
}

/*Typing effect*/
.typing-demo {
  width: 100%;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: "Poiret One", sans-serif;
  font-size: 2.5em;
  color: #444;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*Mouse Scroll effect*/
.scroll-downs {
  display: flex;
  margin: auto;
  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #333;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 20px;
  border-radius: 25%;
  background-color: #444;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/*Project overview styling */

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.project {
  width: 60vh;
  height: 50vh;
  margin: 4rem;
  justify-content: center;
}

.bottom {
  display: flex;


}

.button-work {
  margin-top: 1rem;
  width: 10rem;
  height: 2.2rem;
  text-align: center;
  border: 2px solid #272727;
  text-decoration: none;
  color: black;
  padding-top: 0.4rem;
  margin-left:8rem
}

.button-work::after {
  content: " \2192";
  display: inline-block;
}

.button-work:hover {
  color: white;
  background-color: black;
}

.title {
  background-color: white;
  color: grey;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin-top:1.4rem;

}

.image-placement,
.image-zenya {
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  transition: transform 0.1s;
}

.image-placement:hover {
  transform: scale(0.8);
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*A bit about me area*/

