.container {
  display: flex;
  margin-top: 4rem;
}

.left-column {
  flex-basis: 50%;
  position: fixed;
  left: 2rem;
  bottom: 0;
  padding-bottom: 1rem;
}

.right-column {
  flex-basis: 50%;
  margin-left: 50%;
  padding: 20px;
}

.project-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: grey;
}

.cover-image,
.video-insertion {
  width: 100%;
  height: 5%;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-details {
  font-size: 16px;
  line-height: 1.5;
}

.LO-container {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
}

.box {
  width: 12rem;
  height: 2.8rem;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.heading-project {
  font-size: 20px;
}

.paragraph {
  padding-bottom: 3rem;
  font-weight: 400;
}

.role {
  text-transform: uppercase;
  font-weight: 350;
  font-size: 12px;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}

.learning-outcome {
  font-size: 12px;
}

.paragraph.concept {
  text-align: center;
  font-style: italic;
  color: #a27b5c;
}

.subheading-project {
  font-weight: 600;
}

.text-link {
  text-decoration: none;
  color: #a27b5c;
  font-weight: 600;
}

.image-box {
  position: relative;
}

.cover-image.video {
  filter: blur(2px);
  -webkit-filter: blur(4);
}

/* Style the button and place it in the middle of the container/image */
.image-box .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #a27b5c;
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.container .btn:hover {
  background-color: #96541e;
  color: white;
}

.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
