/* CSS styling for the navigation bar */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,300;1,6..12,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400&family=Quicksand&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  top: 1rem;
  position: sticky;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: rgb(104, 104, 104);
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}

.navbar-links a:hover {
  color: sienna;
  text-decoration: underline;
}

.navbar-links a:active {
  color: sienna;
}

.thin-line {
  border: 0.5px solid black;
}

.logo {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

/* Media queries for mobile responsiveness */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .navbar-links li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
