@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;800&family=Rock+3D&family=Secular+One&display=swap");

.container {
  display: flex;
  margin-top: 2rem;
}

.left-column {
  width: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:45vh;
}

.right-column {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  height: 100%;
}

.project-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: grey;
}

.cover-image,
.video-insertion {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  margin-bottom: 20px;
}

.duration {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
}

.time-project {
  font-size: 13px;
}

.role {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 350;
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.sub-heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  color: #a27b5c;
}

.paragraph.concept {
  text-align: center;
  font-style: italic;
  color: #b0a695;
}

.line-separation {
  height: 3px;
  width: 100%;
  background-color: #ebe3d5;
}

.next-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #776b5d;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  text-decoration: none;
  font-weight: 600;
}

.next-link:hover {
  font-weight: 900;
}

@keyframes textMovement {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}
